* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.active {
    color: red;
    text-decoration: underline;
}